{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
<div class="row">
    <div class="col-8">
        {% for yard in yards %}
            <div class="alert alert-dark" role="alert">
            {{ yard.body }}<br/>
            <small class="text-muted">
                {{ yard.created_at }} By @{{ yard.user.username|lower}}
            </small>
            </div>
            <br/><br/>
        {% endfor %}
    </div>

    
    <div class="col-4">
        {% if form %}
        <form method=POST>
        {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
        {% endif %}
  </div>
</div></div>
{% endblock %}