{% load static %} 

<!-- Button trigger add comment modal -->
<div class="d-grid gap-1">
<button type="button" class="btn btn-outline-primary btn-lg" data-bs-toggle="modal" data-bs-target="#postReply{{comment.id}}"> 
    Reply to comment
  </button>
</div>
<!-- Add comment modal -->
<div class="modal fade" id="postReply{{comment.id}}" tabindex="-1" aria-labelledby="postReplyLabel{{comment.id}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row g-0">
          <div class="col-md-2">
            {% if user.profile.profile_image %}
              <img
              src="{{ user.profile.profile_image.url }}"
              alt="{{user.username}}"
              class="img-fluid rounded-circle mx-auto d-block"
              style="max-width: 8vw; height: 100%"
              />
            {% else %}
              <img
                src="{% static 'images/default_profile_pic.png' %}"
                alt="{{user.username}}"
                class="img-fluid rounded-circle mx-auto d-block"
                style="max-width: 8vw; height: 100%"
              />
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ user.username}}</h5>     
            </div>
          </div>
        </div>
            
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>            
      {% if replyToCommentForm %}
      <form method="POST" action="{% url 'reply' comment.id %}">
        <div class="modal-body">
                {% csrf_token %} 
                {{ replyToCommentForm.as_p }}
                <p class="text-end"id="remaining-chars"></p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Reply to comment</button>
        </div>
      </form>
      <script>
      function countChars(e) {
          document.querySelector("#remaining-chars").innerHTML = e.target.maxLength - e.target.value.length + " characters left"
          }

          // use addEventListener rather that inline event handler
          // event object is automatically passed to event handler
          document.querySelector("#postReply").addEventListener("input", countChars)
      </script>
      {% endif %}
      </div>
    </div>
  </div>

{% for reply in comment.replies.all %}


<!-- -->

<div class="card mb-3 border border-0">
  <div class="row g-0">
    <div class="col-md-2 p-2">
      {% if reply.user.profile.profile_image %}
        <img
          src="{{ reply.user.profile.profile_image.url }}"
          alt=""
          class="img-fluid rounded-circle mx-auto d-block"
          style="max-width: 5vw; height: 100%"
        />
        {% else %}
        <img
          src="{% static 'images/default_profile_pic.png' %}"
          alt="{{reply.user.username}}"
          class="img-fluid rounded-circle mx-auto d-block"
          style="max-width: 5vw; height: 100%"
        />
        {% endif %}
    </div>
    
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title fs-6">{{ reply.user.username}}</h5>
        <p class="card-text fs-6"><small class="text-body-secondary">Replied {{ reply.created_at }}</small></p>  
      </div>
    </div>
    <div class="col-md-2 btn-group" role="group">
      {% if request.user.username == reply.user.username %}
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteReplyModal">
        <i class="fa-regular fa-trash-can text-danger"></i>
      </button>

      <!-- Delete Modal -->
      <div class="modal fade" id="deleteReplyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="deleteReplyModalLabel">Delete Reply?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Please confirm
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" action="#"><a style="color:white" href="#">Confirm</a></button>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-link">
      <a href="#">
        <i class="fa-solid fa-pen-to-square text-dark"></i>
      </a>
    </button>

    {% endif %}
    </div>
  </div>

  <div class="row g-0">

    <div class="col-md-12">
      <div class="card-body">
        <small>
        <p class="card-text">{{reply.body}}</p>
        </small>  
        <div class="btn-group" role="group" aria-label="reply bottom actions">
          <!-- reaction button -->
          <button type="button" class="btn btn-link">
            <a class="text-dark" href="{% url 'reply_like' reply.id %}">
              {{reply.number_of_likes}}
              {% if user in reply.likes.all %}
                <i class="fa-solid fa-thumbs-up text-dark"></i>
              {% else %} 
                <i class="fa-regular fa-thumbs-up text-dark"></i>
              {% endif %}
            </a>
            <a class="text-dark" href="{% url 'reply_dislike' reply.id %}">
              {{reply.number_of_dislikes}} 
              {% if user in yard.dislikes.all %}
                <i class="fa-solid fa-thumbs-down text-dark"></i>
              {% else %} 
                <i class="fa-regular fa-thumbs-down text-dark"></i>
            {% endif %}
            </a>
          </button>

      </div>
    </div>
  </div>
</div>

</div>
{% endfor %}